<h1>
  Sensor Manager
  <p>
  
  <%= link_to I18n.t("views.home.link.ds18b20_create"), new_ds18b20s_path%>
  <p>
 
  <% @sensors = Ds18b20.all %>
  <% @sensors.each do |s| %>
    <%= s.name %>
  <% end %>
</h1>
